body {
    font-family: sans-serif;
    background-color: lightblue;
    margin: 0;
}

h1  {
    text-align: center;
}

article {
    text-align: center;
    padding: 10px;
}

nav {
    background-color: lightgreen;
    background-image: linear-gradient(lightblue,lightgray);
    padding: 30px;
    text-align: center;
    
}

nav a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: black

}

p a {
    text-decoration: none;
    color: blue;
}

p {
   width: 50%;
   text-size: 25px;
    margin: 20px auto
}

a:hover {
    color: lightblue;
    transition: 2s color linear;
}

    
   



