@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    font-family: sans-serif;
    background-image: linear-gradient(lightblue,lightgray);
    margin: 0;
    font-family: "Comfortaa", serif;
}

h1  {
    text-align: center;
}

article {
    text-align: center;
    padding: 10px;
}

nav {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    
}

nav a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: black

}

p a {
    text-decoration: none;
    color: blue;
}

p {
   width: 50%;
   text-size: 25px;
    margin: 20px auto
}

a:hover {
    color: blueviolet;
    transition: 2s color linear;
}


aside {
   position: absolute;
   right: 0;
   top: 100px;
} 

    
   



